.hidden {
  display: none;
}

.linearHidden {
  height: 0px;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.forcedHidden {
  height: 0px;
}

.linearShow {
  height: 100%;
  -webkit-transition: height 1s linear;
  -moz-transition: height 1s linear;
  -ms-transition: height 1s linear;
  -o-transition: height 1s linear;
  transition: height 1s linear;
}

.optionBar {
  padding: 10px;
  background-color: #333333;
  color: #a0a0a0;
  width: 460px;
}

.icon {
  padding: 5px;
  cursor: pointer;
}

.icon:hover {
  color: #ffffff;
}
